
    * {
        margin: 25;
        padding: 0;
        box-sizing: border-box;
        text-align: center;
        /* font-family: ; */
        /* font-size: large; */
    }
    
    body {
        /* background-image: url('img1.png');
        background-size: contain;
        background-repeat: no-repeat; */
        background-color: rgb(179, 239, 140);
    }
    
    .header {
        font-size: 27px;
        text-align: center;
    }
    
    .one-liner {
        padding: 7px;
        margin-bottom: 12px;
        font-size: 18px;
        background-color: rgba(225, 244, 149, 0.785);
        border-radius: 100px;
        display: inline-block;
        box-shadow: 4px 7px;
    }

    .intro {
        padding: 10px 25px;
        background-color: rgba(225, 244, 149, 0.785);
        border-radius: 50px;
        display: inline-block;
        box-shadow: 4px 7px;
        /* opacity: 0.7; */
    }

    .container {
        width: 80vw;
        padding: 40px 20px;
        background-color: rgba(255, 221, 236, 0.425);
        border-radius: 75px;
        margin: 100px auto;
        /* backdrop-filter: blur(15px); */
        border-bottom: 2px solid rgb(255, 255, 255, 0.05);
        border-right: 2px solid rgb(255, 255, 255, 0.05);
        box-shadow: 4px 7px;
    }
    
    table {
        width: 100%;
        font-size: 21px;
        padding: 15px;
        border-collapse: collapse;
    }
    
    tr td {
        border-right: 3px solid transparent;
    }
    
    /* .header-row {
        border-bottom: 1px solid rgb(206, 189, 189);
    }
    
    
    .header-row th {
        padding-bottom: 10px;
    } */
    
    
    img {
        width: 18px;
        display: inline;
    }
    
    footer {
        text-align: center;
        font-size: 18px;
        /* background-color: rgb(167, 250, 187); */
        /* border-radius: 100px; */
    }

    @media screen and (max-width: 800px){

        * {
            font-size: 0.8rem;
        }

        .container {
            width: auto;
            padding: 30px 15px;
            margin: 30px auto;
            font-size: inherit;
        }
        .header-row {
            font-size: relative;
        }
    }
